<template>
<v-app>
	<div>
		<v-app-bar id="menu" fixed app color="#202020" dark>
			<v-btn style="outline: none;" @click="back()" icon>
			<v-icon>arrow_back</v-icon>
			</v-btn>
			<v-toolbar-title>Edit</v-toolbar-title>
		</v-app-bar>
		<v-content>
			<v-container grid-list-md text-left>
				<v-flex mb-4 lg6 offset-lg3 xs12>
				<v-form
					ref="form"
					v-model="valid"
					:lazy-validation="lazy"
				>
					<!-- alert display -->
					<v-alert
						dismissible
						type="error"
						v-model="alert.title"
						v-if="validation.title != ''"
						>
							{{validation.title}}
					</v-alert>

					<v-alert
						dismissible
						type="error"
						v-model="alert.category"
						v-if="validation.category != ''"
						>
							{{validation.category}}
					</v-alert>

					<v-alert
						dismissible
						type="error"
						v-model="alert.composer"
						v-if="validation.composer != ''"
						>
							{{validation.composer}}
					</v-alert>

					<v-alert
						dismissible
						type="error"
						v-model="alert.singer"
						v-if="validation.singer != ''"
						>
							{{validation.singer}}
					</v-alert>

					<v-alert
						dismissible
						type="error"
						v-model="alert.key"
						v-if="validation.key != ''"
						>
							{{validation.key}}
					</v-alert>

					<v-alert
						dismissible
						type="error"
						v-model="alert.style"
						v-if="validation.style != ''"
						>
							{{validation.style}}
					</v-alert>

					<v-alert
						dismissible
						type="error"
						v-model="alert.description"
						v-if="validation.description != ''"
						>
							{{validation.description}}
					</v-alert>

					<v-alert
						dismissible
						type="error"
						v-model="alert.lyric"
						v-if="validation.lyric != ''"
						>
							{{validation.lyric}}
					</v-alert>

					<v-alert
						dismissible
						type="error"
						v-model="alert.chord"
						v-if="validation.chord != ''"
						>
							{{validation.chord}}
					</v-alert>

					<v-text-field
					v-model="song.title"
					:counter="30"
					:rules="titleRules"
					label="title"
					required
					></v-text-field>
					
					<v-select					
					item-text="title"
					item-value="id"
					:items="categories"
					label="category"
					v-model="song.category"					
					required
					></v-select>

					<v-text-field
					v-model="song.composer"
					:counter="30"
					:rules="composerRules"
					label="composer"
					required
					></v-text-field>

					<v-text-field
					v-model="song.singer"
					:counter="30"
					:rules="singerRules"
					label="singer"
					required
					></v-text-field>

					<v-text-field
					v-model="song.key"
					:counter="2"
					:rules="keyRules"
					label="key"
					required
					></v-text-field>

					<v-text-field
					v-model="song.style"
					:counter="15"
					:rules="styleRules"
					label="style"
					required
					></v-text-field>

					<v-text-field
					v-model="song.youtube_id"
					label="youtube Id"
					required 
					class="unicode"
					></v-text-field>

					<v-textarea
					v-model="song.description"
					:rules="descriptionRules"
					:counter="2000"
					name="input-7-1"
					label="Description"
					hint="Description"
					></v-textarea>
					
					<div class="mb-2" style="font-size:18px; color:#8f8f8f; align-text:left;">Lyric</div>
					<ckeditor :editor="editor" v-model="song.lyric" :config="editorConfig" tag-name="textarea">{{song.lyric}}</ckeditor>

					<div class="mb-2 mt-3" style="font-size:18px; color:#8f8f8f; align-text:left;">Chord</div>
					<ckeditor :editor="editor" v-model="song.chord" :config="editorConfig" tag-name="textarea">{{song.chord}}</ckeditor>

					<v-checkbox
					v-on:change = "check_status()"
					v-model="checkbox"
					label="Publish to public?"
					required
					></v-checkbox>

					<v-btn
					color="error"
					class="mr-4"
					@click="back()"
					>
					Cancel
					</v-btn>

					<v-btn
					color="success"
					@click="save()"
					>
					Save
					</v-btn>

					<v-layout justify-center>
					<v-dialog v-model="create_dialog" persistent max-width="290">
						<v-card>
							<v-card-title class="headline">Update Song</v-card-title>
							<v-card-text>Successfully Update '{{song.title}}'</v-card-text>
							<v-card-actions>
							<v-spacer></v-spacer>
							<v-btn color="black" text @click="back();" style="color:white;">OK</v-btn>
							</v-card-actions>
						</v-card>
					</v-dialog>
				</v-layout>
				</v-form>
				</v-flex>


				
			</v-container>
		</v-content>
	</div>
</v-app>
</template>

<script>
import ClassicEditor from '@ckeditor/ckeditor5-build-classic';
  export default {
    data: () => ({
        create_dialog: false,
        

		song:{
			title: '',
			category:'',
			composer: '',
			singer: '',
			key: '',
			style: '',
			youtube_id: '',
			description:'',
			lyric: '',
			chord: '',
			public_status: '',
		},
	  
		categories:[],
		editor: ClassicEditor,
		
		editorConfig: {
			toolbar: {
				items: [
					'heading',
					'bold',
					'italic',
					'link',
					'undo',
					'redo',
				]
		}
	  }, 
	  
		alert:{
			title: false,
			category: false,
			composer: false,
			singer: false,
			key: false,
			style: false,
			description: false,
			lyric: false,
			chord: false,
		},

		validation:{
			title: '',
			category: '',
			composer: '',
			singer: '',
			key: '',
			style: '',
			description: '',
			lyric: '',
			chord: '',
		},

	  valid: true,


      titleRules: [
        v => !!v || 'Title is required',
        v => (v.length <= 30) || 'Title must be less than 30 characters',
	  ],

	  composerRules: [
        v => (v.length <= 30) || 'Composer must be less than 30 characters',
	  ],

	  singerRules: [
        v => (v.length <= 30) || 'Singer must be less than 30 characters',
	  ],
	  
	  keyRules: [
        v => (v.length <= 2) || 'Key must be less than 2 characters',
	  ],

	  styleRules: [
        v => (v.length <= 15) || 'Style must be less than 15 characters',
	  ],

	  descriptionRules: [
        v => (v.length <= 2000) || 'Description must be less than 2000 characters',
	  ],


      checkbox: false,
      lazy: false,
	}),
	
	mounted(){
		window.scrollTo(0,0);
        this.showCategory();
		this.valueData();
	},

    methods: {
		validate () {
			if (this.$refs.form.validate()) {
			this.snackbar = true
			}
		},
		back () {
			//this.$refs.form.reset()
			this.$router.back();
		},

		mysong(){
			this.$router.push({name: 'my-profile'});
		},

		resetValidation () {
			this.$refs.form.resetValidation()
		},
		
		showCategory(){
			axios.get(this.base_url+'/api/app/category/list')
			.then(response => {
                this.categories = response.data;	
			});
        },
        
        valueData()
        {
            var auth={
					headers: {Authorization:'Bearer ' + localStorage.getItem('token')}
				}
            axios.get(this.base_url+'/api/app/song/edit/'+ this.$route.params.id, auth)
            .then(response =>{
                this.song.title = response.data.data.title;
				this.song.category = response.data.data.category_id;
				this.song.lyric = response.data.data.content; 

				if(response.data.data.composer != null)
				{
					this.song.composer = response.data.data.composer;
				}
                if(response.data.data.singer != null)
				{
					this.song.singer = response.data.data.singer;
				}
				if(response.data.data.key != null)
				{
					this.song.key = response.data.data.key;
				}
				if(response.data.data.style != null)
				{
					this.song.style = response.data.data.style;
				}
				if(response.data.data.description != null)
				{
					this.song.description = response.data.data.description;
				}
                if(response.data.data.chord != null)
				{
					this.song.chord = response.data.data.chord;
				}
				if(response.data.data.youtube_id != null)
				{
					this.song.youtube_id = response.data.data.youtube_id;
				}
				
				
				this.song.public_status = response.data.data.public_status;

				if(this.song.public_status == 1)
				{
					this.checkbox = false;
				}
				else{
					this.checkbox = true;
				}
            });
        },

		save(){

			// if(this.$refs.form.validate())
			// {
				var auth={
					headers: {Authorization:'Bearer ' + localStorage.getItem('token')}
				}

				axios.post(this.base_url+'/api/app/song/'+ this.$route.params.id +'/update', this.song, auth)
				.then(response => {
					if(response.data.success == true)
					{
						this.create_dialog = true;					
					}

					if(response.data.success == 'validation_error')
					{
						if(response.data.errors.title != null){
							this.alert.title = true;
							this.validation.title = response.data.errors.title[0];
						}else{
							this.alert.title = false;
						}
						
						if(response.data.errors.category != null){
							this.alert.category = true;
							this.validation.category = response.data.errors.category[0];
						}else{
							this.alert.category = false;
						}
						
						if(response.data.errors.composer != null){
							this.alert.composer = true;
							this.validation.composer = response.data.errors.composer[0];
						}else{
							this.alert.composer = false;
						}
						
						if(response.data.errors.singer != null){
							this.alert.singer = true;
							this.validation.singer = response.data.errors.singer[0];
						}else{
							this.alert.singer = false;
						}
						
						if(response.data.errors.key != null){
							this.alert.key = true;
							this.validation.key = response.data.errors.key[0];
						}else{
							this.alert.key = false;
						}
						
						if(response.data.errors.lyric != null){
							this.alert.lyric = true;
							this.validation.lyric = response.data.errors.lyric[0];
						}else{
							this.alert.lyric = false;
						}
						
						if(response.data.errors.chord != null){
							this.alert.chord = true;
							this.validation.chord = response.data.errors.chord[0];
						}else{
							this.alert.chord = false;
						}
						window.scrollTo(0,0);
					}
				});
			// }
			
		},

		check_status()
		{
			if(this.song.public_status == 1)
			{
				this.song.public_status = 0;
			}
			else
			{
				this.song.public_status = 1;
			}
			
		},
	},
	
	computed: {
        base_url(){
            return this.$store.getters.base_url
		},
		
    },
  }
</script>

<style>
  .ck-editor__editable {
    min-height: 300px;
   }
  p {
    margin: 5px;
	font-size: 16px;
	font-family: "Pyidaungsu" !important;
  }

  h1{
	  font-family: "Pyidaungsu" !important;
  }

  h2{
	  font-family: "Pyidaungsu" !important;
  }

  h3{
	  font-family: "Pyidaungsu" !important;
  }
  
</style>