<template>
<div>
	<v-app v-if="loader == true">
		<v-container fluid class="grey lighten-3" fill-height>
			<v-layout row>
	            <v-flex xs12>
	                <v-layout align-center justify-center row class="pt-4">
	                    <v-progress-circular
	                    :size="50"
	                    color="grey"
	                    indeterminate
	                    ></v-progress-circular>
	                </v-layout>
	            </v-flex>
	        </v-layout>
	    </v-container>
      </v-app>
	<v-app v-if="loader == false && fav_song_lists.length == 0">
		<v-container fluid class="grey lighten-3" fill-height>
			<v-layout row>
				<v-flex xs12 sm6 offset-sm3>
					<div class="container" >
						<v-alert 
                        color="black"
                        border="left"
                        elevation="2"
                        colored-border
                        icon="mdi-file-document-box-remove-outline"
                        >
                        There is no song in your favorite list
                        </v-alert>
					</div>
				</v-flex>
			</v-layout>
		</v-container>
	</v-app>
	<v-app v-if="loader == false && fav_song_lists.length != 0">
		<v-container class="grey lighten-3" fluid fill-height>            
			<v-layout row>
				<!-- {{song_list.song_lists.length}} -->
				<v-flex xs12 sm6 offset-sm3>
					<div class="container">
						<v-card>
							<v-list two-line>
								<template v-for="({id, title, user_name}, index) in fav_song_lists">
									<v-list-item
										:key="id"
										@click="list_click(id)"							
									>
										<v-list-item-action>
											{{index+ fav_pagination.from}}
										</v-list-item-action>

										<v-list-item-content>
										<v-list-item-title><span style="line-height: 2">{{title}}</span></v-list-item-title>
										</v-list-item-content>

										<v-list-item-action>
											<v-icon>mdi-account</v-icon>{{user_name}}
										</v-list-item-action>
										
									</v-list-item>
									<v-divider
									class="ma-0 pa-0"
									v-if="index + 1 < fav_song_lists.length"
									:key="index"
									></v-divider>
								</template>
							</v-list>                            
						</v-card>

						<div class="text-xs-center" >
						<v-pagination
                            v-if="fav_pagination.last_page > 1"
							v-model="fav_pagination.current_page"
							:length="fav_pagination.last_page"
							@input="fav_onPageChange"
                            :total-visible="6"
                            circle
                            color="black"
						></v-pagination>
						</div>                  
					</div>                    
				</v-flex>
			</v-layout>            
		</v-container>        
	</v-app>
</div>
</template>

<script>
  export default {
    data () {
      return {
        fav_song_lists: '',    
        fav_nextpage: '',
        fav_pagination: {
          current_page: 1,
          last_page: 0,
          from: 0,
        },
        loader: false,
      }
	},
	

    //  watch: {
    //   	search (val) {
    //     	val && val !== this.select && this.querySelections(val)
    //   }
    // },

    created(){
		//debugger;
        this.getSongs();
        window.scrollTo(0,0);
    },

    methods: {		
		// querySelections (v) {
		// 	//debugger;
		// 	this.loading = true
		// 	// Simulated ajax query
		// 	setTimeout(() => {
		// 		this.items = this.states.filter(e => {
		// 			return (e || '').toLowerCase().indexOf((v || '').toLowerCase()) > -1
		// 		})
		// 		this.loading = false
		// 	}, 500)
		// },

		getSongs()
		{
			//debugger;
			// debugger;
			// alert(this.$route.params.id);
            // axios.get('http://localhost/karani_local/public/api/app/song/list?page=' + this.pagination.current_page)
            var auth={
					headers: {Authorization:'Bearer ' + localStorage.getItem('token')}
                }
            this.loader = true;
			axios.get(this.base_url + '/api/app/favorite/my-fav', auth)
			.then(response=>{
				this.fav_song_lists =response.data.data;
				this.fav_pagination.current_page = response.data.meta.current_page;
				this.fav_pagination.last_page = response.data.meta.last_page;
				this.fav_pagination.from = response.data.meta.from;
				this.loader = false;
			});
			
		},

		fav_onPageChange()
		{
            var auth={
                headers: {Authorization:'Bearer ' + localStorage.getItem('token')}
            }
                
			axios.get(this.base_url + '/api/app/favorite/my-fav?page=', + this.fav_pagination.current_page, auth)
			.then(response=>{
				this.fav_song_lists =response.data.data;
				this.fav_pagination.current_page = response.data.meta.current_page;
				this.fav_pagination.last_page = response.data.meta.last_page;
				this.fav_pagination.from = response.data.meta.from;
                window.scrollTo(0,0);
			});
		},
		
		show(data)
		{
			this.$store.dispatch('get_song_id', data);
		},

		list_click(id)
		{
			this.$router.push({name: 'songs.show', params: {id}});
        },
        
        createSong()
        {
            this.$router.push({name:'create-song'});
        },
	},

	computed: {
        base_url(){
            return this.$store.getters.base_url
        },

        // song_list(){
        //     return this.$store.getters.song_list
		// },
		
		loader(){
			return this.$store.getters.loader
		},
    },
  }
</script>

<style>
    .web_size{
        display: none;
    }

	.phone_size{
        display: block;
    }

    @media (min-width: 1280px){
        .web_size{
            display: block;
        }

        .phone_size{
            display: none;
        }
    }
</style>
