<template>
    <div>
        <v-app v-if="loader == true">
            <v-flex xs12 class="grey lighten-3">
                <v-layout align-center justify-center row fill-height>
                    <v-progress-circular
                    :size="50"
                    color="grey"
                    indeterminate
                    ></v-progress-circular>
                </v-layout>
            </v-flex>
        </v-app>
        <div v-if="loader == false" class="web_size">
            <v-container fluid class="grey lighten-3">
                <v-row>
                    <v-col cols="12" md="12">
                        <v-hover>
                            <v-card
                                class="mx-auto"
                                max-width="50%"                                
                            >
                                <v-img
                                v-bind:src= "base_url+ '/photos/allsongs.jpg'"
                                aspect-ratio="3"
                                @click="songList()"
                                style="cursor: grab"
                                ></v-img>

                                <v-card-title>
                                <div>Top Gospel Songs</div>
                                
                                </v-card-title>
                                
                                <v-card-text>
                                <span class="grey--text subtitle-1">1,000  of songs</span>
                                </v-card-text>

                                <v-card-actions>
                                <v-btn text>Share</v-btn>

                                <v-btn
                                    text
                                    color="purple"
                                    @click="songList()"
                                >
                                    All Song List
                                </v-btn>

                                <div class="flex-grow-1"></div>

                                <v-btn
                                    icon
                                    @click="show = !show"
                                    style="outline: none;"
                                >
                                    <v-icon>{{ show ? 'mdi-chevron-up' : 'mdi-chevron-down' }}</v-icon>
                                </v-btn>
                                </v-card-actions>

                                <v-expand-transition>
                                <div v-show="show">
                                    <v-card-text>
                                    I'm a thing. But, like most politicians, he promised more than he could deliver. You won't have time for sleeping, soldier, not with all the bed making you'll be doing. Then we'll go with that data file! Hey, you add a one and two zeros to that or we walk! You're going to do his laundry? I've got to find a way to escape.
                                    </v-card-text>
                                </div>
                                </v-expand-transition>
                            </v-card>
                        </v-hover>        
                    </v-col>
                </v-row>
                <v-row>
                    <v-col cols="12" md="3" pt-5 pr-3 v-for="{file,title,id,description} in categories" :key="id">
                            <v-hover>
                                <v-card slot-scope="{ hover }" :class="`elevation-${hover ? 15 : 2}`" height="100%" style="cursor: grab">
                                    <v-img @click="categoryList(id)"
                                    class="white--text"
                                    v-bind:src= "base_url+ '/storage/uploads/category/'+ file"
                                    aspect-ratio="2"
                                    >
                                    <v-card-title class="align-end fill-height">{{title}}</v-card-title>
                                    </v-img>

                                    <v-card-text>
                                        <span>{{description}}</span><br>
                                    </v-card-text>

                                    <!-- <div class="md-12" style="padding:15px;">
                                        <div class="headline">{{title}}</div>
                                        <span class="grey--text">{{description}}</span>
                                    </div> -->
                                </v-card>    
                            </v-hover>        
                    </v-col>                 
                </v-row>
            </v-container>
        </div>

        <div v-if="loader == false" class="phone_size">
            <v-container fluid class="grey lighten-3">
                <v-row>
                    <v-col cols="12" xs="12">
                        <v-card
                                class="mx-auto"
                                max-width="100%"                                
                            >
                                <v-img
                                v-bind:src= "base_url+ '/photos/allsongs.jpg'"
                                height="10%"
                                @click="songList()"
                                ></v-img>

                                <v-card-title>
                                <div>Top Gospel Songs</div>
                                
                                </v-card-title>
                                
                                <v-card-text>
                                <span class="grey--text subtitle-1">1,000 of songs</span>
                                </v-card-text>

                                <v-card-actions>
                                <v-btn text>Share</v-btn>

                                <v-btn
                                    text
                                    color="purple"
                                    @click="songList()"
                                >
                                    All Song List
                                </v-btn>

                                <div class="flex-grow-1"></div>

                                <v-btn
                                    icon
                                    @click="show = !show"
                                    style="outline: none;"
                                >
                                    <v-icon>{{ show ? 'mdi-chevron-up' : 'mdi-chevron-down' }}</v-icon>
                                </v-btn>
                                </v-card-actions>

                                <v-expand-transition>
                                <div v-show="show">
                                    <v-card-text>
                                    I'm a thing. But, like most politicians, he promised more than he could deliver. You won't have time for sleeping, soldier, not with all the bed making you'll be doing. Then we'll go with that data file! Hey, you add a one and two zeros to that or we walk! You're going to do his laundry? I've got to find a way to escape.
                                    </v-card-text>
                                </div>
                                </v-expand-transition>
                            </v-card>
                    </v-col>   
                </v-row>               
                <v-row>
                    <v-col cols="12" xs="12" v-for="{title,id,file,description} in categories" :key="id">
                        <v-card @click="categoryList(id)">
                            <v-img
                            class="white--text"
                            v-bind:src= "base_url+ '/storage/uploads/category/'+ file"
                            aspect-ratio="2"
                            >
                            <v-card-title class="align-end fill-height">{{title}}</v-card-title>
                            </v-img>

                            <v-card-text>
                                <span>{{description}}</span><br>
                            </v-card-text>
                        </v-card>             
                    </v-col>              
                </v-row>
            </v-container>
        </div>
    </div>
</template>

<script>
  export default {
    data: () => ({
        loader: false,
        show: false,
        categories: '',
        category_photo_path: '../../../storage/app/public/uploads/category/',
    }),

    mounted(){
        window.scrollTo(0,0);
		this.showCategory();
	},

    methods: {
        songList()
		{
			this.$router.push({name: 'songs.list'});
			this.phone_drawer = false;
		},

		categoryList(id)
		{
			//alert(data);
			// this.$store.dispatch('get_song_list', data);
			this.$router.push({name: 'songs.categorylist', params: {id}});
			this.phone_drawer = false;
		},
        
        showCategory(){
            this.loader = true;
			axios.get(this.base_url + '/api/app/category/list')
			.then(response =>{
                this.categories = response.data;
                this.loader =false;
			});
		},
    },

    computed: {
        base_url(){
            return this.$store.getters.base_url
		},
    },
  }
</script>

<style>
	.web_size{
        display: none;
    }

	.phone_size{
        display: block;
    }

    @media (min-width: 1280px){
        .web_size{
            display: block;
        }

        .phone_size{
            display: none;
        }
    }

    .v-input__slider {
        width: 100%;
    }
</style>