<template>
    <v-layout row justify-center>
        <v-dialog v-model="login_dialog" persistent max-width="600px">
        <v-card>
            <v-card-title>
            <span class="headline">Login</span>
            </v-card-title>
            <v-container>

                <v-alert
                dismissible
                type="error"
                v-model="alert.email"
                v-if="validation.email != ''"
                >
                    {{validation.email}}
                </v-alert>

                <v-alert
                dismissible
                type="error"
                v-model="alert.password"
                v-if="validation.password != ''"
                >
                    {{validation.password}}
                </v-alert>

                <v-alert
                dismissible
                type="error"
                v-model="alert.login_error"
                >
                    {{login_error}}
                </v-alert>

                <v-alert
                dismissible
                type="error"
                v-model="alert.null_error"
                >
                    {{null_error}}
                </v-alert>

                <v-alert
                dismissible
                type="error"
                v-model="alert.active_error"
                >
                    {{active_error}}
                </v-alert>

            <v-container grid-list-md>
                <v-layout wrap>
                <!-- <v-flex md12>
                    <v-text-field
                    label="Your Name*"                  
                    persistent-hint
                    required
                    v-model="register_data.name"
                    ></v-text-field>
                </v-flex> -->
                <v-flex xs12>
                    <v-text-field :rules="emailRules" v-model="login_data.email" label="Email*" required></v-text-field>
                </v-flex>
                <v-flex xs12>
                    <v-text-field :rules="passwordRules" v-model="login_data.password" label="Password*" type="password" required></v-text-field>
                </v-flex>              
                </v-layout>
            </v-container>
            <div class="text-center pb-3">
                Or
            </div>
            <div class="text-center">
                <v-btn @click="AuthProvider('facebook')" class="mx-2" small fab dark color="cyan">
                    <v-icon dark>mdi-facebook</v-icon>
                </v-btn>
                <v-btn @click="AuthProvider('google')" class="mx-2" small fab dark color="red">
                    <v-icon dark>mdi-google</v-icon>
                </v-btn>
            </div>
            <div class="pt-3">
                *If you don't have account please* <br>
                Create New Account with<v-btn color="blue darken-1" text @click="register_dialog(true)">Register</v-btn>
            </div>
            </v-container>
            <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="blue darken-1" text @click="dialog(false)">Close</v-btn>
            <v-btn color="blue darken-1" text @click="login">Login</v-btn>
            </v-card-actions>
        </v-card>
        </v-dialog>
    </v-layout>
</template>

<script>
  export default {
    data: () => ({
        login_data: {
            email:'',
            password:'',
        },

        validation:{
            email:'',
            password:'',
        },

        login_error:'',
        null_error:'',
        active_error: '',

        alert:{
            email: false,
            password: false,
            login_error: false,
            null_error: false,
            active_error: false,
        },
        
        passwordRules: [
            v => !!v || 'Password is required',
        ],
         emailRules: [
            v => !!v || 'E-mail is required',
            v => /.+@.+/.test(v) || 'E-mail must be valid'
        ],
    }),

    methods: {
        dialog(data)
        {
            this.login_data.email = '';
            this.login_data.password = '';
            this.$store.dispatch('get_login_dialog', data);
            this.alert.email = false;
            this.alert.password = false;
            this.alert.login_error = false;
            this.alert.null_error = false;
            this.alert.active_error = false;
            this.validation.email = '';
            this.validation.password = '';
            this.login_error = '';
            this.null_error = '';
            this.active_error = '';
        },

        login()
        {
            axios.post(this.base_url + '/api/app/login', this.login_data)
			.then(response =>{

                if(response.data.success == true)
                {
                    this.$store.state.is_login = true;
                    this.dialog(false);
                    this.$router.push({name: 'my-profile'});
                    localStorage.token = response.data.token;
                    this.$store.dispatch('get_login_status', true)
                    
                }
                
                if(response.data.success == 'validation_error')
                {
                    if(response.data.errors.email != null){
                        this.alert.email = true;
                        this.validation.email = response.data.errors.email[0];
                    }else{
                        this.alert.email = false;
                    }

                    if(response.data.errors.password != null){
                        this.alert.password = true;
                        this.validation.password = response.data.errors.password[0];
                    }else{
                        this.alert.password = false;
                    }

                    // this.alert.login_error = false;
                    // this.alert.null_error = false;
                }
                else{
                    this.alert.email = false;
                    this.alert.password = false;
                }

                if(response.data.success == 'login_error')
                { 
                    // alert(response.data.error);
                    this.alert.login_error = true;
                    this.login_error = response.data.error;
                }
                else{
                    this.alert.login_error = false;
                }

                if(response.data.success == 'null_error')
                {
                    this.alert.null_error = true;
                    this.null_error = response.data.error;                    
                }
                else{
                    this.alert.null_error = false;
                }

                if(response.data.success == 'active_error')
                {
                    this.alert.active_error = true;
                    this.active_error = response.data.error;                    
                }
                else{
                    this.alert.active_error = false;
                }

            });
            
        },

        register_dialog(data)
        {
            this.login_data.name = '';
            this.login_data.email = '';
            this.login_data.password = '';
            this.$store.dispatch('get_login_dialog', false);
            this.$store.dispatch('get_register_dialog', data);            
        },

        //social login

        AuthProvider(provider) {
          
            this.$auth.authenticate(provider).then(response =>{
             
            this.SocialLogin(provider,response)
            }).catch(err => {
                console.log({err:err})
            })
        },
        
        SocialLogin(provider,response){

            axios.post('/sociallogin/'+provider,response).then(response => {
                console.log(response.data)
                this.$store.state.is_login = true;
                localStorage.token = response.data.token;               
                this.$store.dispatch('get_login_status', true)
                // this.$router.push({name: 'my-profile'});
                // window.location.href = 'https://karani.test/app/my-profile';
                window.location.href = 'https://karani.org/app/my-profile';
            })
        },
    },

    computed: {

        base_url(){
            return this.$store.getters.base_url
        },
        
        login_dialog()
        {
            return this.$store.getters.login_dialog
        },
    },
  }
</script>