<template>
	<v-app>
		<v-app id="inspire">
			<!--<fullscreen :fullscreen.sync="fullscreen"> -->
			<v-app-bar id="menu" app color="#202020" dark>
					<v-app-bar-nav-icon style="outline: none;" @click.stop="web_drawer = !web_drawer" v-if = "$route.meta.menu == 'main'"></v-app-bar-nav-icon>
					<v-btn style="outline: none;" @click="back()" v-if = "$route.meta.menu == 'detail' || $route.meta.menu == 'search'" icon>
					<v-icon>arrow_back</v-icon>
					</v-btn>
					<v-toolbar-title v-if ="$route.meta.menu == 'detail'">{{$route.meta.title}}</v-toolbar-title>

					<v-toolbar-title class="web_size" @click="root()" style="cursor: pointer;">Karani</v-toolbar-title>
					
					<v-spacer></v-spacer>
						<v-text-field
						v-if = "$route.meta.menu == 'main' || $route.meta.menu == 'search'"
						label="Search(Title/codeID/lyrics)"
						color = "grey"
						single-line
						append-icon="search"
						v-model="search_data"
						v-on:keyup = search_list
						clearable
						style="margin-top: 20px;"
						@click:clear = "back"
						>
						</v-text-field>         
				</v-app-bar>
			<v-content>
				<v-navigation-drawer
				v-if = "$route.meta.menu == 'main'"
				v-model="web_drawer"
				fixed
				
				
				app
				>
					<v-img v-if="is_login == true" :aspect-ratio="16/9" :src="base_url+ '/photos/nav_pic.jpg'">
						<v-layout pa-2 column fill-height class="lightbox white--text">
						<v-spacer></v-spacer>
						<v-flex shrink>
							<div class="subheading">{{profile.name}}</div>
							<div class="body-1">{{profile.email}}</div>
						</v-flex>
						</v-layout>
					</v-img>

					<v-list dense>
						<!-- <v-list-item>
							<v-list-item-title class="title">
								Application
								<br>
								gmail@gmail.com
							</v-list-item-title>
								
						</v-list-item> -->
						<v-list-item @click="home()">
							<v-list-item-action>
								<v-icon color="red">home</v-icon>
							</v-list-item-action>
						
							<v-list-item-content>
								<v-list-item-title id="font-size">Home</v-list-item-title>
							</v-list-item-content>
						
						</v-list-item>

						<v-list-item @click="songList()">
							<v-list-item-action>
								<v-icon color="blue">mic</v-icon>
							</v-list-item-action>
						
							<v-list-item-content>
								<v-list-item-title id="font-size">Song List</v-list-item-title>
							</v-list-item-content>
						
						</v-list-item>

						<v-list-group
							:value="false"				
						>
							<v-icon slot="prependIcon" color="red">category</v-icon>
							<template v-slot:activator>
								<v-list-item-title>Category</v-list-item-title>
							</template>
							<!-- <template v-slot:activator>
							<v-list-item>
								
								<v-list-item-action>
									<v-icon>list</v-icon>
								</v-list-item-action>

								<v-list-item-content>
								<v-list-item-title id="font-size">Category</v-list-item-title>
								</v-list-item-content>
							</v-list-item>
							</template> -->

							<v-list-item v-for="{title,id} in categories" :key="id"  @click="categoryList(id)">
							<v-list-item-action>
								<v-icon color="grey">list</v-icon>
							</v-list-item-action>
							<v-list-item-content>
								<v-list-item-title id="font-size">{{title}}</v-list-item-title>
							</v-list-item-content>
							</v-list-item>
						</v-list-group>
						
						<v-list-item v-on:click="login_dialog(true)">
							<v-list-item-action>
								<v-icon color="green">account_circle</v-icon>
							</v-list-item-action>
						
							<v-list-item-content>
								<v-list-item-title id="font-size">Profile</v-list-item-title>
							</v-list-item-content>
						</v-list-item>

						<v-list-item v-on:click="login_dialog(true);" v-if="login_status == false">
							<v-list-item-action>
								<i class="material-icons" style="color:blue">lock</i>						
							</v-list-item-action>
						
							<v-list-item-content>
								<v-list-item-title id="font-size" >Login</v-list-item-title>
							</v-list-item-content>
						</v-list-item>

						<v-list-item v-if="login_status == true" @click="logout_dialog = true">
							<v-list-item-action>
								<i class="material-icons" style="color:red">power_settings_new</i>						
							</v-list-item-action>
						
							<v-list-item-content>
								<v-list-item-title id="font-size">Logout</v-list-item-title>
							</v-list-item-content>
						</v-list-item>

					</v-list>
				</v-navigation-drawer>

				<register-component></register-component>
				<login-component></login-component>

			
				<transition name="fade" mode="in-out">
					<router-view></router-view>
				</transition>
			</v-content>
		</v-app>


		<!-- logout dialog -->
		<v-layout justify-center>
			<v-dialog v-model="logout_dialog" persistent max-width="290">
				<v-card>
					<v-card-title class="headline">Logout</v-card-title>
					<v-card-text>Are you sure to logout?</v-card-text>
					<v-card-actions>
					<v-spacer></v-spacer>
					<v-btn color="white darken-1" fluid @click="logout_dialog = false">close</v-btn>
					<v-btn color="red" fluid @click="logout();" style="color:white;">Logout</v-btn>
					</v-card-actions>
				</v-card>
			</v-dialog>
		</v-layout>
	</v-app>	
</template>

<script>
import fullscreen from 'vue-fullscreen'
  export default {
    data: () => ({
        categories: '',
        fullscreen: false,
		web_drawer: false,
		phone_drawer: false,
		checkbox: false,

		logout_dialog: false,
		search: null,
		select: null,
		search_data: '',
		expand: false,

		user_info: false,
		profile:{
			  name: '',
			  email: '',
		  },
    }),
    props: {
      	source: String
    },

    // watch: {
    //   	search (val) {
    //     	val && val !== this.select && this.querySelections(val)
    //   	}
	// },
	
	mounted(){
		this.showCategory();
		// this.$router.push({name: 'index'});

		// if(localStorage.token)
		//

		if(localStorage.token)
		{
			this.$store.state.is_login = true;
			this.getProfile();
		}

		if(localStorage.token)
		{
			this.$store.dispatch('get_login_status', true)
		}
		else
		{
			this.$store.dispatch('get_login_status', false)
		}

		window.scrollTo(0,0);
	},

    methods: {
		// querySelections (v) {
		// 	this.loading = true
		// 	// Simulated ajax query
		// 	setTimeout(() => {
		// 	this.items = this.states.filter(e => {
		// 		return (e || '').toLowerCase().indexOf((v || '').toLowerCase()) > -1
		// 	})
		// 	this.loading = false
		// 	}, 500)
		// },

		showCategory(){
			axios.get(this.base_url + '/api/app/category/list')
			.then(response =>{
				this.categories = response.data;
			});

		},

		songList()
		{
			this.$router.push({name: 'songs.list'}).catch(err => {});
			this.phone_drawer = false;
		},

		categoryList(id)
		{
			//alert(data);
			// this.$store.dispatch('get_song_list', data);
			this.$router.push({name: 'songs.categorylist', params: {id}}).catch(err => {});
			this.phone_drawer = false;
		},
		
		home()
		{
			this.$router.push({name: 'home'}).catch(err => {});
			this.phone_drawer = false;
		},

		back()
		{
			this.$router.back();
		},
        
        toggle () {
            this.fullscreen = !this.fullscreen
		},
		
		search_list()
		{

			if(this.search_data != '')
			{
				var search_item = {
					search_data: this.search_data,
				};
				this.$store.dispatch('get_search_list', search_item);
				this.$router.push({name: 'songs.search'});
			}
			else if(this.search_data == '' && this.search_data_start == 1){
				this.$router.back();
				this.$store.dispatch('stop_search_list');
			}
			
		},

		login_dialog(data)
		{
			this.phone_drawer = false;
			if(localStorage.token)
			{
				var auth={
					headers: {Authorization:'Bearer ' + localStorage.getItem('token')}
				}

				
				axios.get(this.base_url + '/api/app/user/my-profile', auth)
				.then(response=>{
					if(response.data.authentication == false)
					{
						this.$store.dispatch('get_login_dialog', data);
					}
					else{
						this.$router.push({name: 'my-profile'}).catch(err => {});
					}
				});
			}
			else{
				this.$store.dispatch('get_login_dialog', data);
			}
				
			// if(localStorage.token == null)
			// {
			// 	this.$store.dispatch('get_register_dialog', data);
			// }
			// else
			// {
			// 	this.$router.push({name: 'my-profile'});
			// }
		},
		
		login(data)
		{
			this.$store.dispatch('get_login_status', data);
		},

		logout()
		{
			var auth={
					headers: {Authorization:'Bearer ' + localStorage.getItem('token')}
				}
			axios.get(this.base_url + '/api/app/logout', auth)
			.then(response=>{
				if(response.data.logout == true)
				{
					this.$router.push({name:'home'});
					this.login(false);
					localStorage.token = "";
					alert('Successfully Logout');
				}
								
			});

			this.logout_dialog = false;
			this.$store.state.is_login = false;
		},

		getProfile()
		{
			var auth={
					headers: {Authorization:'Bearer ' + localStorage.getItem('token')}
				}
			
			axios.get(this.base_url + '/api/app/user/my-profile', auth)
			.then(response=>{
				this.profile.name = response.data.name;
				this.profile.email = response.data.email;
			});

		},

		root()
		{
			window.location.href = this.base_url;
		},

		filter_search()
		{
			
		},
	},

	computed: {
        base_url(){
            return this.$store.getters.base_url
		},
		
		search_data_start(){
            return this.$store.getters.search_data_start
		},
		
		login_status(){
			return this.$store.getters.login_status
		},

		is_login(){
			return this.$store.getters.is_login
		}
    },
  }
</script>

<style>
	.web_size{
        display: none;
    }

	.phone_size{
        display: block;
    }

    @media (min-width: 1280px){
        .web_size{
            display: block;
        }

        .phone_size{
            display: none;
        }
    }

	#font-size{
		font-size: 15;
	}

	#menu{
 background-color: #FFFFFF;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .3s
}
.fade-enter, .fade-leave-to /* .fade-leave-active in <2.1.8 */ {
    opacity: 0
}

.v-list__group__header__prepend-icon .v-icon {
    color: red;
}  
</style>