<template>
    <v-app>
        <v-app-bar id="menu" fixed app color="#202020" dark>
            <v-btn style="outline: none;" @click="back()" icon>
            <v-icon>arrow_back</v-icon>
            </v-btn>
            <v-toolbar-title>My Profile</v-toolbar-title>
        </v-app-bar>
        <v-content>
            <v-app v-if="loader == true">
                <v-flex xs12>
                    <v-layout align-center justify-center row fill-height>
                        <v-progress-circular
                        :size="50"
                        color="grey"
                        indeterminate
                        ></v-progress-circular>
                    </v-layout>
                </v-flex>
            </v-app>
            <v-card color="basil" elevation="0" v-if="loader == false">
                <v-card-title class="text-center justify-center py-6">
                    <div>
                        <div><h1 class="font-weight-bold display-1 basil--text">{{profile.name}}</h1></div>
                        <div><h3 class="font-weight-bold display-5 basil--text">{{profile.email}}</h3></div>
                    </div>
                </v-card-title>
            </v-card>


            <v-card style="position: -webkit-sticky;position: sticky; top:50px; z-index:10"> 
                <v-tabs
                v-model="tab"
                background-color="transparent"
                color="basil"
                slider-color="black"
                icons-and-text
                fixed-tabs
                centered
                >

                    <v-tab>
                        My Song
                        <i class="material-icons" style="font-size: 25px;">person</i>
                    </v-tab>

                    <v-tab>
                        Favorite
                        <i class="material-icons" style="font-size: 25px;">favorite</i>
                    </v-tab>
                    
                    <!-- <v-tab>
                        Collection
                        <i class="material-icons" style="font-size: 25px;">library_books</i>
                    </v-tab> -->

                </v-tabs>
            </v-card>

                <v-tabs-items v-model="tab">
                    <v-tab-item>
                        <mysong-component> </mysong-component>
                    </v-tab-item>
                    <v-tab-item>
                        <favorite-component> </favorite-component>
                    </v-tab-item>
                    <!-- <v-tab-item>
                        <example-component> </example-component>
                    </v-tab-item> -->
                </v-tabs-items>
        </v-content>
    </v-app>

    
</template>

<script>
  export default {
    data () {
      return {
		  tab: null,
		  profile:{
			  name: '',
			  email: '',
          },
          loader: '',
        
      }
	},
	
	mounted(){

        this.getProfile();
        
        window.scrollTo(0,0);
	},

    methods:{
		
		getProfile()
		{
			var auth={
					headers: {Authorization:'Bearer ' + localStorage.getItem('token')}
				}
			this.loader = true;
			axios.get(this.base_url + '/api/app/user/my-profile', auth)
			.then(response=>{
				this.profile.name = response.data.name;
                this.profile.email = response.data.email;
                this.loader = false;

            console.log(this.profile.name);
			});

        },
        
        back()
		{
			this.$router.push({name: 'home'});
		},
	},
	
	computed: {
        base_url(){
            return this.$store.getters.base_url
        },
	},
	
  }
</script>

<style>
/* Helper classes */
.basil {
  background-color: white !important;
}
.basil--text {
  color: black !important;
}
</style>