<template>
    <v-layout row justify-center>
        <v-dialog v-model="register_dialog" persistent max-width="600px">
        
        <!-- <template v-slot:activator="{ on }">
            <v-btn color="primary" dark v-on="on">Open Dialog</v-btn>
        </template> -->
        <v-card>
            <v-card-title>
            <span class="headline">Register</span>
            </v-card-title>
            <v-card-text>
                <v-alert
                dismissible
                type="error"
                v-model="alert.name"
                v-if="validation.name != ''"
                >
                    {{validation.name}}
                </v-alert>

                <v-alert
                dismissible
                type="error"
                v-model="alert.email"
                v-if="validation.email != ''"
                >
                    {{validation.email}}
                </v-alert>

                <v-alert
                dismissible
                type="error"
                v-model="alert.password"
                v-if="validation.password != ''"
                >
                    {{validation.password}}
                </v-alert>

            <v-container grid-list-md>
                <v-layout wrap>
                <v-flex md12>
                    <v-text-field
                    label="Your Name*"                  
                    persistent-hint
                    required
                    v-model="register_data.name"
                    :rules="nameRules"
                    ></v-text-field>
                </v-flex>
                <v-flex xs12>
                    <v-text-field :rules="emailRules" v-model="register_data.email" label="Email*" required></v-text-field>
                </v-flex>
                <v-flex xs12>
                    <v-text-field :rules="passwordRules" v-model="register_data.password" label="Password*" type="password" required></v-text-field>
                </v-flex>              
                </v-layout>
            </v-container>
            <small>*indicates required field</small>
            </v-card-text>
            <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="blue darken-1" text  @click="dialog(false)">Close</v-btn>
            <v-btn color="blue darken-1" text  @click="register">
                Register
            </v-btn>
            <v-progress-circular :size="20" :width="2" color="primary" indeterminate v-if="register_loader == true"></v-progress-circular>
            </v-card-actions>
        </v-card>
        </v-dialog>
        <!-- logout alert -->
		<v-layout justify-center>
			<v-dialog v-model="confirm_dialog" persistent max-width="290">
				<v-card>
					<v-card-title class="headline">Activate</v-card-title>
					<v-card-text>Please Confirm your Email!</v-card-text>
                    <v-container>
                        <v-alert
                        dismissible
                        type="error"
                        v-model="alert.confirmation_number"
                        v-if="validation.confirmation_number != ''"
                        >
                            {{validation.confirmation_number}}
                        </v-alert>
                        <v-text-field
                            label="Type Confirmation Number*"                  
                            persistent-hint
                            required
                            v-model="confirmation_number"
                        ></v-text-field>
                    </v-container>
					<v-card-actions>                           
					<v-spacer></v-spacer>
					<v-btn color="white darken-1" fluid @click="confirm_dialog = false">close</v-btn>
					<v-btn color="red" fluid @click="confirm();" style="color:white;">Ok</v-btn>
					</v-card-actions>
				</v-card>
			</v-dialog>
		</v-layout>
    </v-layout>
</template>

<script>
  export default {
    data: () => ({
        register_data: {
            name:'',
            email:'',
            password:'',
        },

        confirm_dialog: false,
        register_loader: false,

        confirmation_number: '',

        validation:{
            name:'',
            email:'',
            password:'',
            confirmation_number:'',
        },

        nameRules: [
            v => !!v || 'Name is required',            
        ],

        passwordRules: [
            v => !!v || 'Password is required',
            v => v.length >= 8 || 'Name must be greater than 8 characters'
        ],
        
        emailRules: [
            v => !!v || 'E-mail is required',
            v => /.+@.+/.test(v) || 'E-mail must be valid'
        ],
        
        alert:{
            name: false,
            email: false,
            password: false,
            confirmation_number: false,
        },
        
    }),

    mounted(){
        
    },

    methods: {
        dialog(data)
        {
            this.register_data.name = '';
            this.register_data.email = '';
            this.register_data.password = '';
            this.$store.dispatch('get_register_dialog', data);
            this.alert.name = false;
            this.alert.email = false;
            this.alert.password = false;
            this.validation.name = '';
            this.validation.email = '';
            this.validation.password = '';
        },

        register()
        {
            this.register_loader = true;
            axios.post(this.base_url + '/api/app/register', this.register_data)
			.then(response =>{                
                if(response.data.success == true)
                {
                    this.register_loader = false;
                    this.confirm_dialog = true;       
                    this.$store.dispatch('get_register_dialog', false);            
                    
                }
                else if(response.data.success == 'validation_error')
                {
                    this.register_loader = false;
                    if(response.data.errors.name != null){
                        this.alert.name = true;
                        this.validation.name = response.data.errors.name[0];
                    }else{
                        this.alert.name = false;
                    }

                    if(response.data.errors.email != null){
                        this.alert.email = true;
                        this.validation.email = response.data.errors.email[0];
                    }else{
                        this.alert.email = false;
                    }

                    if(response.data.errors.password != null){
                        this.alert.password = true;
                        this.validation.password = response.data.errors.password[0];
                    }else{
                        this.alert.password = false;
                    }
                }
                //alert(this.validation.name);
            });
            
        },

        confirm()
        {
            axios.get(this.base_url+'/api/app/signup/activate/'+this.confirmation_number)
            .then(response =>{
                if(response.data.success == true)
                {
                    this.$store.state.is_login = true;
                    this.confirm_dialog = false;                    
                    localStorage.token = response.data.token;
                    this.$router.push({name: 'my-profile'});
                    this.$store.dispatch('get_login_status', true)           
                    
                }
                else{
                    this.alert.confirmation_number = true;
                    this.validation.confirmation_number = response.data.message;
                }
                console.log(response.data.success);
            });




        //     this.confirm_dialog = false;  
        //     this.$store.state.is_login =  false;
        //     this.dialog(false);
        //     // this.$router.push({name: 'my-profile'});
        //     // localStorage.token = response.data.token;
        //     this.$store.dispatch('get_login_status', false)
        //     this.$store.dispatch('get_login_dialog', true);
        }
    },

    computed: {

        base_url(){
            return this.$store.getters.base_url
        },
        
        register_dialog()
        {
            return this.$store.getters.register_dialog
        },
    },
  }
</script>