<template>
<v-app>
	<v-app  v-if="loader == true">
		<v-flex xs12>
			<v-layout align-center justify-center row fill-height>
				<v-progress-circular
				:size="50"
				color="grey"
				indeterminate
				></v-progress-circular>
			</v-layout>
		</v-flex>
	</v-app>
	<v-flex xs12 sm6 offset-sm3>
		<div class="container">	
			<v-alert v-if="search_lists==''"
			:value="true"
			color="red"
			icon="info"
			outline
			>
				Song not found
			</v-alert>
		</div>
	</v-flex>
	<v-app v-if="loader == false">
	<v-container fluid fill-height>
		<v-layout row>
			<v-flex xs12 sm6 offset-sm3>			
				<div class="container">					
					<v-card>
						<v-list v-if="search_lists!=''" two-line>
							<template v-for="({id, title, user_name}, index) in search_lists">
								<v-list-item
									:key="id"
									@click="list_click(id)"							
								>
									<v-list-item-action>
										{{index+ 1}}
									</v-list-item-action>

									<v-list-item-content>
									<v-list-item-title><span style="line-height: 2">{{title}}</span></v-list-item-title>
									</v-list-item-content>

									<v-list-item-action>
										<v-icon>mdi-account</v-icon>{{user_name}}
									</v-list-item-action>
									
								</v-list-item>
								<v-divider
								class="ma-0 pa-0"
								v-if="index + 1 < search_lists.length"
								:key="'A'+index"
								></v-divider>
							</template>
						</v-list>
					</v-card>
				</div>
			</v-flex>
		</v-layout>
	</v-container>
	</v-app>
</v-app>
</template>

<script>
  export default {
    data () {
      return {

      }
	},
	
	mounted(){
		window.scrollTo(0,0);
	},

	methods:{
		list_click(id)
		{
			this.$router.push({name: 'songs.show', params: {id}});
		},
	},


    computed: {
        search_lists(){
            return this.$store.getters.search_lists
		},
		loader(){
			return this.$store.getters.loader
		},
    },
  }
</script>