<template>
<v-app>
	<v-app v-if="loader == true">
            <v-flex xs12 class="grey lighten-3">
                <v-layout align-center justify-center row fill-height>
                    <v-progress-circular
                    :size="50"
                    color="grey"
                    indeterminate
                    ></v-progress-circular>
                </v-layout>
            </v-flex>
        </v-app>
	<v-app v-if="loader == false && song_lists.length == 0">
		<v-container fluid class="grey lighten-3" fill-height>
			<v-layout row>
				<v-flex xs12 sm6 offset-sm3>
					<div class="container" >
						<v-alert 
                        color="black"
                        border="left"
                        elevation="2"
                        colored-border
                        icon="mdi-file-document-box-remove-outline"
                        >
                        There is no song in list
                        </v-alert>
					</div>
				</v-flex>
			</v-layout>
		</v-container>
	</v-app>
	<v-app v-if="loader == false && song_lists.length != 0">
		<v-container fluid class="grey lighten-3" fill-height>
			<v-layout row>
				<v-flex xs12 sm6 offset-sm3>
					<div class="container">
						<v-card> 
							<v-list two-line>
								<v-list-item-group multiple>
									<template v-for="({id, title, user_name}, index) in song_lists">
										<v-list-item
											:key="id"
											@click="list_click(id)"							
										>
										<template v-slot:default="{ active, toggle }">
											<v-list-item-action>
												{{index+ pagination.from}}
											</v-list-item-action>

											<v-list-item-content>
											<v-list-item-title><span style="line-height: 2">{{title}}</span></v-list-item-title>
											</v-list-item-content>

											<v-list-item-action>
												<v-icon>mdi-account</v-icon>{{user_name}}
											</v-list-item-action>
										</template>
										</v-list-item>
										<v-divider
										class="ma-0 pa-0"
										v-if="index + 1 < song_lists.length"
										:key="'A'+index"
										></v-divider>
									</template>
								</v-list-item-group>
							</v-list>
						</v-card>

						<div class="text-xs-center">
						<v-pagination
							v-if="pagination.last_page > 1"
							v-model="pagination.current_page"
							:length="pagination.last_page"
							@input="onPageChange"
							:total-visible="6"
							circle
							color="black"
						></v-pagination>
						</div>
					</div>
				</v-flex>
			</v-layout>
		</v-container>
	</v-app>
</v-app>
</template>

<script>
  export default {
    data () {
      return {
        song_lists: '',    
		nextpage: '',
        pagination: {
          current_page: 1,
          last_page: 0,
          from: 0,
		},
		loader: false,
      }
	},
	

    //  watch: {
    //   	search (val) {
    //     	val && val !== this.select && this.querySelections(val)
	//   },
	  
    // },

    mounted(){
		//debugger;
		this.getSongs();
		window.scrollTo(0,0);
    },

    methods: {		
		// querySelections (v) {
		// 	//debugger;
		// 	this.loading = true
		// 	// Simulated ajax query
		// 	setTimeout(() => {
		// 		this.items = this.states.filter(e => {
		// 			return (e || '').toLowerCase().indexOf((v || '').toLowerCase()) > -1
		// 		})
		// 		this.loading = false
		// 	}, 500)
		// },

		getSongs()
		{
			this.loader = true;
			axios.get(this.base_url + '/api/app/song/list')
			.then(response=>{
				this.song_lists =response.data.data;
				this.pagination.current_page = response.data.meta.current_page;
				this.pagination.last_page = response.data.meta.last_page;
				this.pagination.from = response.data.meta.from;
				this.loader = false;
			});
			
		},

		onPageChange()
		{
			axios.get(this.base_url + '/api/app/song/list?page=' + this.pagination.current_page)
			.then(response=>{
				this.song_lists =response.data.data;
				this.pagination.current_page = response.data.meta.current_page;
				this.pagination.last_page = response.data.meta.last_page;
				this.pagination.from = response.data.meta.from;
				window.scrollTo(0,0);
			});		
			
		},

		list_click(id)
		{
			this.$router.push({name: 'songs.show', params: {id}});
		},
	},

	computed: {
        base_url(){
            return this.$store.getters.base_url
        },
    },
  }
</script>