<template>
	<v-app>
		<v-app-bar id="menu" fixed app color="#202020" dark>
			<v-btn style="outline: none;" @click="back()" icon>
			<v-icon>arrow_back</v-icon>
			</v-btn>
			<v-toolbar-title @click="root()" style="cursor: pointer;">Karani</v-toolbar-title>
			
			<v-spacer></v-spacer>
				<div class="title font-weight-bold text-center">
					<v-btn text icon color="#b9b9b9" v-if="song.chord != null" @click="chord_dialog = true" style="outline: none;">
						<v-icon large>mdi-music-box-outline</v-icon>
					</v-btn>
					<v-btn text icon color="pink" v-if="fav_select == true && fav_hide == false" @click="select_fav(false); snackbar = true" style="outline: none;">
						<v-icon large>favorite</v-icon>
					</v-btn>
					<v-btn text icon color="#b9b9b9" v-if="fav_select == false && fav_hide == false" @click="select_fav(true); snackbar = true;" style="outline: none;">
						<v-icon large>favorite</v-icon>
					</v-btn>
					<social-sharing 
						:url= "base_url+'/app/songs/'+params_id+'/show'"
						quote="karani is a song application for christian user."
						hashtags="karani"
						@close="close_fb(song.id)"
						inline-template>
							<network network="facebook">
								<v-icon large style="cursor: pointer;">mdi-facebook-box</v-icon>
							</network>
					</social-sharing>
					<v-menu bottom left v-if="menu_hide == false && check_user == true">
						<template v-slot:activator="{ on }">
							<v-btn icon v-on="on">
								<v-icon>mdi-dots-vertical</v-icon>
							</v-btn>	
						</template>
						<v-list>
							<v-list-item @click="edit(song.id)">
								<v-icon medium>edit</v-icon> &nbsp;
								<v-list-item-title>Edit Song</v-list-item-title>								
							</v-list-item>
							<v-list-item @click="destroy()">
								<v-icon medium>delete</v-icon> &nbsp;
								<v-list-item-title>Delete Song</v-list-item-title>								
							</v-list-item>
						</v-list>	
					</v-menu>					
				</div>
			<!-- <v-btn icon  @click="toggle">
				<v-icon>fullscreen</v-icon>
			</v-btn>           -->
		</v-app-bar>
		<v-content>
			<v-app  v-if="loader == true" style="padding-top: 30px;">
				<v-flex xs12>
					<v-layout align-center justify-center row fill-height>
						<v-progress-circular
						:size="50"
						color="grey"
						indeterminate
						></v-progress-circular>
					</v-layout>
				</v-flex>
			</v-app>
			<v-app v-if="loader == false">
				<div class="container">
					
					<v-snackbar
					v-model="snackbar"
					:bottom="y === 'bottom'"
					:left="x === 'left'"
					:multi-line="mode === 'multi-line'"
					:right="x === 'right'"
					:timeout="timeout"
					:top="y === 'top'"
					:vertical="mode === 'vertical'"
					>
					{{ fav_text }}
					<v-btn
						color="pink"
						text
						@click="snackbar = false"
					>
						Close
					</v-btn>
					</v-snackbar>

					<div class="title font-weight-bold text-center" style="padding-top: 30px;"> 
					<!-- <v-switch v-if="font == false" v-model="font" :label="'Zawgyi'"></v-switch>
					<v-switch v-if="font == true" v-model="font" :label="'Uni'"></v-switch> -->
						<span v-if="font == false" class="zawgyi">
							{{song.title}} 
						</span>
							<br> 
						<span v-if="font == true" >
							{{song.title}} 
						</span>
					</div>
					<div class="subtitle-1 font-weight-regular subheading text-center pt-2">
						<span v-if="font == false && song.uniquid != null" class="zawgyi">
							codeID: {{song.uniquid}}
						</span>
						<span v-if="font == true && song.uniquid != null">
							codeID: {{song.uniquid}}
						</span>
					</div>
					<div class="subtitle-2 font-weight-regular subheading text-center pt-2">
						<span v-if="font == false && song.user_name != null" class="zawgyi">
							Uploaded By: {{song.user_name}}
						</span>
						<span v-if="font == true && song.user_name != null" >
							Uploaded By: {{song.user_name}}
						</span>
					</div>					
					<div class="subtitle-2 font-weight-regular subheading text-center pt-2">
						<span v-if="font == false && song.composer != null" class="zawgyi">
							Composer: {{song.composer}}
						</span>
						<span v-if="font == true && song.composer != null" >
							Composer: {{song.composer}}
						</span>
					</div>
					<div class="subtitle-2 font-weight-regular subheading text-center pt-2">
						<span v-if="font == false && song.singer != null" class="zawgyi">
							Singer: {{song.singer}}
						</span>
						<span v-if="font == true && song.singer != null" >
							Singer: {{song.singer}}
						</span>
					</div>
					<div class="subtitle-2 font-weight-regular subheading text-center pt-2">
							<span v-if="font == false && song.style != null" class="zawgyi">
								Style: {{song.style}}
							</span>
							<span v-if="font == true && song.style != null" >
								Style: {{song.style}}
							</span>
					</div>
					
					<!-- youtube_id link -->
					<div v-if="song.youtube_id != null" class="web_size text-center pt-2">
						<youtube :video-id="song.youtube_id" />
					</div>
					<div v-if="song.youtube_id != null" class="phone_size text-center pt-2">
						<youtube width="100%" height="200" :video-id="song.youtube_id" />
					</div>


					<div class="row pt-5">
						<div class="col-md-4"></div>
						<div class="col-md-4 font-weight-regular text-left"> 
							<span v-if="font == false" class="zawgyi" v-html="song.content"></span>
							<span v-if="font == true"  v-html="song.content"></span>
						</div>
						<div class="col-md-4"></div>
					</div>
				</div>
			</v-app>
		</v-content>

		<!-- chord dialog -->
		<v-dialog v-model="chord_dialog" fullscreen hide-overlay transition="dialog-bottom-transition">
			<v-card>
				<v-toolbar dark color="black">
					<v-btn icon dark @click="chord_dialog = false">
						<v-icon>mdi-close</v-icon>
					</v-btn>
					<v-toolbar-title>Music Notes</v-toolbar-title>
				</v-toolbar>
				<div class="title font-weight-bold text-center"> 
					<span v-if="font == false" class="zawgyi">
						{{song.title}} 
					</span>
					<br> 
					<span v-if="font == true" >
						{{song.title}} 
					</span>
				</div>
				<div class="subtitle-2 font-weight-regular subheading text-center pt-2">
					<span v-if="font == false && song.style != null" class="zawgyi">
						Style: {{song.style}}
					</span>
					<span v-if="font == true && song.style != null" >
						Style: {{song.style}}
					</span>
				</div>
				<div class="row pt-5">
					<div class="col-md-1"></div>
					<div class="col-md-10 font-weight-regular text-left"> 
						<span v-if="font == false" class="zawgyi" v-html="song.chord"></span>
						<span v-if="font == true"  v-html="song.chord"></span>
					</div>
					<div class="col-md-1"></div>
				</div>
			</v-card>
		</v-dialog>

		<!-- destroy ask dialog -->
		<v-layout justify-center>
			<v-dialog v-model="destroy_sure_dialog" persistent max-width="290">
				<v-card>
					<v-card-title class="headline">Delete Song Sure?</v-card-title>
					<v-card-text>Are you sure to delete '{{song.title}}' ?</v-card-text>
					<v-card-actions>
					<v-spacer></v-spacer>
					<v-btn color="white darken-1" fluid @click="destroy_sure_dialog = false">close</v-btn>
					<v-btn color="red" fluid @click="destroy_ok();" style="color:white;">Delete</v-btn>
					</v-card-actions>
				</v-card>
			</v-dialog>
		</v-layout>

		<!-- delete successfully dialog -->
		<v-layout justify-center>
			<v-dialog v-model="destroy_success_dialog" persistent max-width="290">
				<v-card>
					<v-card-title class="headline">Delete Song</v-card-title>
					<v-card-text>Successfully Delete '{{song.title}}'</v-card-text>
					<v-card-actions>
					<v-spacer></v-spacer>
					<v-btn color="black" text @click="my_profile()" style="color:white;">OK</v-btn>
					</v-card-actions>
				</v-card>
			</v-dialog>
		</v-layout>
	</v-app>
</template>

<script>
 export default {
    data () {
      return {
		loader: false,
		song: '',
		font: true,
		fav_select: false,
		fav_hide: false,
		menu_hide: false,

		check_user: false,

		params_id: '',

		snackbar: false,
		y: 'bottom',
		x: null,
		mode: '',
		timeout: 2000,
		fav_text: '',
	
		chord_dialog: false,

		destroy_sure_dialog: false,
		destroy_success_dialog: false,
	  }
	},

	mounted(){
		window.scrollTo(0,0);
		this.showSong();
		if(localStorage.token)
		{
			this.fav_hide = false;
			this.menu_hide = false;
		}
		else{
			this.fav_hide = true;
			this.menu_hide = true;
		}

		this.hasFavorite();
		this.userDetail();

		this.params_id = this.$route.params.id;
		
	},

	methods:{

		userDetail()
		{
			var auth={
					headers: {Authorization:'Bearer ' + localStorage.getItem('token')}
				}
			axios.get(this.base_url + '/api/app/song/'+ this.$route.params.id +'/check', auth)
			.then(response=>{
				this.check_user = response.data.check;
			});
		},

		root()
		{
			this.$router.push({name:'home'});
		},

		hasFavorite()
		{
			var auth={
					headers: {Authorization:'Bearer ' + localStorage.getItem('token')}
				}
			axios.get(this.base_url + '/api/app/favorite/check/' + this.$route.params.id, auth)
			.then(response=>{
				//alert(this.song['id']);
				this.fav_select = response.data.select_fav;
			});
		},

		showSong()
		{
			this.loader = true;
			axios.get(this.base_url + '/api/app/song/show/' + this.$route.params.id)
			.then(response=>{
				this.song = response.data.data;
				this.loader =false;
			});
		},

		edit(id)
		{
			this.$router.push({name:'edit-song', params: {id}});
		},

		destroy()
		{
			this.destroy_sure_dialog = true;	
		},

		destroy_ok()
		{
			var auth={
					headers: {Authorization:'Bearer ' + localStorage.getItem('token')}
				}
			axios.get(this.base_url + '/api/app/song/delete/' + this.$route.params.id, auth)
			.then(response=>{
				if(response.data.success == true)
				{
					this.destroy_sure_dialog = false;
					this.destroy_success_dialog = true;
				}
			});
		},

		my_profile()
		{
			this.$router.push({name: 'my-profile'});
		},

		select_fav(data)
		{
			var auth={
					headers: {Authorization:'Bearer ' + localStorage.getItem('token')}
				}

			if(data == true)
			{
				this.fav_text = 'Add to favorite list';
				axios.get(this.base_url + '/api/app/favorite/add/' + this.song['id'], auth)
				.then(response=>{
					if(response.data.success == true)
					{						
						this.fav_select = data;
					}					
				});
			}
			else{
				this.fav_text = 'Remove from favorite list';
				axios.get(this.base_url + '/api/app/favorite/remove/' + this.song['id'], auth)
				.then(response=>{
					
					if(response.data.success == true)
					{						
						this.fav_select = data;
					}
					
				});
				
			}
			
		},
		back()
		{
			this.$router.back();
		},

		close_fb(id)
		{
			this.$router.push({name: 'songs.show', params: {id}}).catch(err => {});
		}
	},

	computed: {
        song_id(){
            return this.$store.getters.song_id
		},
		
		base_url(){
            return this.$store.getters.base_url
        },
    },
 }


</script>

<style>
	p {
    	/* margin: 5px; */
		line-height: 2;
  	}

	.web_size{
        display: none;
    }

	.phone_size{
        display: block;
    }

    @media (min-width: 1280px){
        .web_size{
            display: block;
        }

        .phone_size{
            display: none;
        }
    }
</style>
